* {
    /* color: red; */
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: stretch;
}

.header-top {
    display: flex;
    /* background-color: black; */
    /* flex: 1; */
    /* justify-content: flex-end; */
}

.header-logo {
    margin-right: auto;
}

/* .header-link {
    
} */

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
}

.header-text,
.header-image {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .info-title {

} */

.info-images-container {
    display: flex;
    justify-content: space-around;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image p {
    text-align: center;
}

.quote {
    padding: 20px;
    background-color: #E5E7EB;
}

.quote-text {
    text-align: justify;
    font-style: italic;
}

.quote-author {
    text-align: right;
}

.action {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
}

.action-text-container {
    margin: 36px;
}

.action-text-title {
    font-weight: 900;
    font-size: 36px;
}

.action-text-subtitle {
    /* color: white; */
}

.action button {
    background-color: #3882F6;
    border-color: white;
    border-radius: 24px;
    border-style: solid;
    height: 40px;
    width: 100px;
    color: white;
    margin: 24px
}

.footer {
    background-color: #1F2937;
    padding: 30px;
}
.copyright {
    color: white;
    text-align: center;
}

