* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: stretch;
    color: #F9FAF8;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo {
    font: 24px 'Roboto', sans-serif;
    /* color: #F9FAF8; */
    margin:  30px auto 30px 30px;
}

.header-link {
    color: #F9FAF8;
    margin: 10px
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 30px;
    gap: 20px;
}

.header-text,
.header-image {
    flex: 1;
}

.header-image {
    height: 300px;
    width: 600px;
    background-color: gray;
}

.header-text-title {
    font: 900 36px 'Roboto', sans-serif;
}

.header-text-subtext {
    font-family: 'Roboto', sans-serif; 
}

.header-bottom .signup-button {
    border: none;
}

/* .header-text-subtext {

} */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 45px;
}

/* .info-title {

} */

.info-images-container {
    display: flex;
    justify-content: space-around;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image img {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.info-image p {
    text-align: center;
}

.quote {
    padding: 100px 45px 100px 45px;
    background-color: #E5E7EB;
}

.quote-text {
    text-align: justify;
    font: italic lighter 36px 'Roboto', sans-serif;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font: 900 24px 'Roboto', sans-serif;
    color: #1F2937;
}

.action {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
}

.action-text-container {
    margin: 36px;
}

.action-text-title {
    font-weight: 900;
    font-size: 36px;
}

.action-text-subtitle {
    /* color: white; */
}

.signup-button {
    background-color: #3882F6;
    border-radius: 24px;
    height: 35px;
    width: 80px;
    color: white;
}

.action .signup-button {
    margin: 24p;
    border-color: white;
    border-style: solid;
}

.footer {
    background-color: #1F2937;
    padding: 30px;
}
.copyright {
    color: white;
    text-align: center;
}

